<!DOCTYPE html>
<html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<head>
  <meta charset="utf-8"/>
  <title>Nick Zayatz</title>
  <link rel="shortcut icon" type="image/x-icon" href="cirtual.ico" />
  <link href="site.css" rel="stylesheet">
  <link href="navbar.css" rel="stylesheet">
  <link rel="import" href="navbar.html">
</head>

<body ng-app="NicksApp">

  <div ng-include="'navbar.html'"></div>

  <div id="section1" ng-controller="viewController1">
    <h1>Nick Zayatz</h1>
  </div>

  <div id="section2" ng-controller="viewController2">
    <h2>What's up guys?</h2>
    <p>I'm Nick Zayatz (if you didn't get that already). I'm an iOS developer and the CPO of Cirtual LLC. I also get buckets on occasion 🏀🏀. I am initially from Columbia, Maryland and I am a graduate of High Point University as a Computer Science and Mathematics major.
    </p>
    <p>I don't have much else to say... if you want to see more about my coding skills and whatnot, checkout my Github or Resume above, or my <a href="https://www.linkedin.com/in/nickzayatz" style="color: #ffffff">LinkedIn</a> account.
    </p>
  </div>

  <!-- <div id="section2" ng-controller="viewController2">
    <div id="body">
      <h2>Here we go?</h2>

      <p id="IntroParagraph" ng-model="line1">I don't code a whole lot of web.</p>
      <p ng-model="line2" ng-init="lblLine2Text='But When I do.'">{{lblLine2Text}}</p>
      <p ng-model="line3" >Here is an expression: 5+2={{ 5+2 }}</p>
      <p ng-model="line4">And mostly copied.</p>

      <button ng-click="btnIncrementClicked()">
        Increment
      </button>

      <p>Name: <input type="text" ng-model="name"></p>
      <p ng-bind="name"></p>

    </div>
  </div> -->

</body>

<script src="thomasSucks.js"></script>

</html>
