li {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e5e6f3;
    border-bottom: 1px solid #000000;
    position: fixed;
    top: 0;
    width: 100%;
}


li a {
    display: block;
    color: #3f4262;
    font-family: "Helvetica Neue", serif;
    font-weight:300;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
}


li a:hover:not(.active) {
    background-color: #cecfda;
}


li .active {
    background-color: #6600ff;
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {
  li a {
    padding: 14px 16px;
  }
}
