.jumbotron {
    position: relative;
    background: #000 url("baltimore-skyline.jpg") center center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    vertical-align: middle;
    display: table-cell;
}

.inner {
  display: inline-block;
  width: 100vw;
}

.image {
  border-radius: 30px;
    max-height: 100%;
    max-width: 100%;
}

h1 {
  text-align: center;
  color: #e5e6f3;
}

.bg-white {
  background-color: #e5e6f3
}
